--imprefm=0
--impinm=0
--imprefval=0
--impinval=0
--subsamp=4,4,2,2,1,1
--miter=5,10,5,10,5,10
--infwhm=4,3,2,2,1,0
--reffwhm=4,3,2,2,1,0
--lambda=300,150,100,50,40,30
--estint=1,1,1,1,1,0
--warpres=1,1,1
--splineorder=3
--ssqlambda=1
--jacrange=0.01,100
--regmod=bending_energy
--intmod=global_non_linear
--intorder=5
--biasres=50,50,50
--biaslambda=1000
--numprec=double
--interp=linear
--refderiv=0
--applyrefmask=0,0,0,0,0,0
--applyinmask=0